<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="/static/style_rgstr.css" />
  </head>
  <body>
    <div class="navigation">
      <nav>
          <a href={{url_for('index')}} class='nav_a_1'>Головна</a>
          <span class='nav_text'>Реєстрація</span>
      </nav>
    </div>  
    <div class="input_group_wrapper">
      <div class="input_group">
        <form method="POST">
          <div class="form_wrapper name_wrapper">
            <input
              type="text"
              name="first_name"
              class="input_first_name"
              required
            />
            <label class="label_name">П.І.Б</label>
          </div>
          <div class="form_wrapper email_wrapper">
            <input type="text" name="email" class="input_email" required />
            <label class="label_email">пошта</label>
          </div>
          <div class="form_wrapper phone_wrapper">
            <input type="text" name="phone_num" class="input_phone" required />
            <label class="label_phone">номер телефону</label>
          </div>
          <div class="name_wrapper">
            <button type="submit" class="sub_btn">Зарєєструватися</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
