{% extends 'base_2.html' %} 

{% block title %}Магазин{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/style_shop.css" />
{% endblock style %}

{% block content %}
{% block nav %} 
    <div class="navigation">
        <nav>
            <a href={{url_for('index')}} class='nav_a_1'>Головна</a>
            <span class='nav_text'>Магазин</span>
            <a href={{url_for('cart')}} class='nav_a_2'>Кошик</a>
        </nav>
    </div>
{% endblock nav %} 

<div class="all_prods_wrapper">
  <div class="all_prods">
    {% for good in goods %}
    <div class="every_prod_wrapper">
      <div class="every_prod">
        <div class="every_prod_img">
          <img src="{{good[1]}}" />
        </div>
        <div class="every_prod_name_wrapper">
          <div class="every_prod_name_wrapper_2">
            <div class="every_prod_name">
              <span>{{good[2]}}</span>
            </div>
            <div class="every_prod_name_2">
              <p>{{good[3]|truncate(length=27)}}</p>
            </div>
          </div>
        </div>
        <div class="p_and_info_div_wrapper">
          <div class="p_and_info_div">
            <div class="every_prod_p">
              <p>{{good[4]}}</p>
            </div>
            <div class="every_prod_info">
              <a
                href="{{url_for('one_product',id=good[0])}}"
                class="btn_info"
                >Дивитись</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
